// variables
$uci-yellow: #fbd30b;
$uci-yellow-dark: rgb(233, 185, 13);
$uci-blue: #006791;
$uci-gray: #999998;
$header-col: #f0f0f0;
$subheader-col: #dddddd;
$text-col: #181818;
$main-max: 60rem;
$header-font: "Overpass";
$subheader-font: "Helvetica Condensed";
$mobile-cutoff: 720px;
// $banner-height: 2rem;

@media screen and (max-width: $mobile-cutoff) {
  main {
    max-width: 100vw !important;
    width: 100% !important;
  }
}

// fonts

@font-face {
  font-family: 'Neue Kabel EB';
  src: url("../lib/fonts/neue_kabel_eb.otf");
}

@font-face {
  font-family: "Overpass";
  src: url("../lib/fonts/overpass.ttf");
}

@font-face {
  font-family: "Overpass";
  src: url("../lib/fonts/overpass-it.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Condensed";
  src: url("../lib/fonts/helvetica_condensed.ttf");
}

// general

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-col;
  -webkit-font-smoothing: antialiased
}

main {
  flex: 1;
  padding: 1rem;
  max-width: min(95vw, $main-max);
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: 600;
}


a {
  color: $uci-blue;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  &:hover {
    // text-decoration: underline;
    background-color: #0000001a;
    // border-radius: 0.25rem;
  }
}
