@import "../app/globals.scss";

$max-image-height: 34rem;

@media screen and (max-width: $mobile-cutoff) {
  main h1 {
    font-size: 2rem;
    text-align: center;
  }

  .has-nested-images > figure {
    max-width: 100vw !important;
  }
}

main h1 {
  text-transform: uppercase;
  color: $uci-blue;
  font-size: 2rem;
  font-weight: 700;
  line-height: 5rem;
  text-align: center;
  // font-family: "Helvetica Condensed";
}

main h2 {
  line-height: 3rem;
  font-family: "Helvetica Condensed";
}

main h3 {
  line-height: 2.5rem;
  font-family: "Helvetica Condensed";
}

main hr {
  margin: 1rem 0;
}

main p {
  padding: .75rem 0;
}

main img {
  margin: auto;
  height: auto;
  margin: 1rem auto 1rem auto;
  display: block;
  max-width: 100%;
  // height: 100%;
  object-fit: contain;
  // max-height: $max-image-height;
}

main hr {
  border: 2px solid $uci-blue;
  margin: 1rem 0;
}

.wp-block-embed__wrapper {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure.wp-block-gallery {
  display: flex;
  // justify-content: space-between;
  position: relative;
  // flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
  // margin: 1rem 0;
  & > div {
    flex: 1 1 100%;
    max-width: 100%;
  }
  & img {
    // max-width: 40%;
    // width: 100%;
    height: 100%;

    margin: 0;
    object-fit: cover;
  }
}

// nested gallery images, on desktop, should not exceed 50vw width 
.has-nested-images > figure {
  max-width: calc(50% - .5rem);
}

.has-nested-images > figure:only-child {
  max-width: 100% !important;
}


figure.wp-block-image {
  position: relative;
}

.wp-block-spacer {
  height: 1rem !important;
}

figcaption.wp-element-caption {
  // margin: 1rem 0;
  font-size: 14px;
  width: 100%;
  text-align: center;
  position: absolute;
  // right: 0;
  left: 0;
  bottom:0;
  // left: 0;
  padding: 1rem;
  color: white;
  background: linear-gradient(0deg,#000000cd,#0000004d 90%,#0000);
  // width: 100%;
  // font-style: italic;
  // font-size: 0.8rem;
}

// buttons
.wp-block-button {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  & > a {
    color: white;
    background-color: $uci-blue;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color .3s;
    &:hover {
      background-color: $uci-blue-dark;
    }
  }
}

.is-layout-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.is-content-justification-center {
  justify-content: center;
}

// coblocks

