@import "../app/globals.scss";

h1 {
  text-transform: uppercase;
  color: $uci-blue;
  font-size: 2rem;
  font-weight: 900;
}

hr {
  margin: 1rem 0;
}

p {
  margin: 0.5rem 0;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
}