@import "../app/globals.scss";

.banner {
  font-size: 0.875rem;
  // position: absolute;
  z-index: 1000;
  color: #fcf4d1;
  background-color: #ff7810;
  width: 100vw;
  text-align: center;
  padding: .5rem;
  & a {
    color: inherit;
    text-decoration: underline;
  }
}