@import "../app/globals.scss";

$hero-max: 36rem;
$hero-max-mobile: min(24rem, 50vh);

@media screen and (max-width: $mobile-cutoff) {
  .slick-list, .slick-track, .slick-list > *, .img-container > img {
    // width: 100%;
    height: 100%;
    max-height: $hero-max-mobile !important;
  }
  .img-container {
    & > .caption {
      width: 85%;
      & > .title {
        font-size: 2rem !important;
      }
      & > .location {
        font-size: 1rem !important;
      }
    }
  }
}


.slick-slider {
  width: 100%;
  // position: relative;
}

.img-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: $hero-max;
  // object-fit: cover;
  // object-position: center;
  transition: 0.25s ease-in-out;
  & > .caption {
    display: flex;
    flex-direction: column;
    font-family: $header-font;
    filter: drop-shadow(1px 1px 0.25rem $text-col) drop-shadow(1px 1px 0.5rem $text-col);
    text-align: center;
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%; 
    color: white;
    pointer-events: none;
    transform: translate(-50%, -50%);
    & > .title {
      font-size: 2.5rem;
      font-weight: 800;

    }
    & > .location {
      font-size: 1rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      // font-style: italic;
    }
  }
}

.slick-slide img {
  // position: absolute;
  z-index: -9;
  width: 100%;
  height: $hero-max; // works for now?
  max-width: none !important;
  object-fit: cover;
  transition: 0.25s ease-in-out;
  max-height: $hero-max;
  // object-position: 50% 50%;
  &:hover {
    // cursor: pointer;
    filter: brightness(0.8);
  }
}

.slick-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  & > li {
    width: 1rem;
    height: 0.5rem;
    border-radius: 10%;
    background-color: #ffffff75;
    &.slick-active {
      background-color: white;
    }
    & > button::before {
      display: none;
    }
  }
}