footer {
  font-size: 0.875rem;
  width: 100%;
  background-color: #eee;
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 2rem;
  & > div {

  }
}

.address {
  text-align: left;
}