@import "../app/globals.scss";

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem 0 2rem;
  background-color: $header-col;
  gap: 0.5rem;
}

.sub {
  font-family: "Overpass";
  font-size: 1rem;
  font-weight: 700;
  // text-transform: uppercase;
}

.nav-items {
  font-family: "Overpass";
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;

  transition: 0.2s ease-in-out;
  & > a {
    padding: 1rem;
    &:hover {
      background-color: $uci-blue;
      color: white;
    }
  }
}

// uci ite logo
.logo {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Neue Kabel EB";
  display: flex;
  flex-direction: row;
  gap: .6rem;
  // justify-content: center;
  align-items: center;
  text-decoration: none;
}

.uci {
  color: $uci-yellow;
  text-decoration: underline dashed;
  text-decoration-color: $uci-yellow;
}

.anteater {
  
}

.ite {
  color: $uci-blue;
  text-decoration: underline dashed;
  text-decoration-color: $uci-blue;
}