@import "../app/globals.scss";
$mobile-navheight: 4.5rem; // needed for calculations, kinda janky.
// $banner-navheight: 4.5rem; // needed for calculations, kinda janky.

@media screen and (max-width: $mobile-cutoff) {
  nav {
    max-height: $mobile-navheight !important;
    height: 100%;
  }
  .nav-items {
    display: none;
    z-index: 100;
    top: $mobile-navheight;
    position: absolute;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0 .5rem .25rem -.25rem rgba(0, 0, 0, 0.1);
    margin: 0;
    & a {
      display: flex;
      flex-direction: row !important;
      padding: 0.5rem;
      width: 100% !important;
      justify-content: space-between !important;
    }
    & > ul {
      // width: auto !important;
      flex-direction: column;
      align-items: start !important;
      & > li {
        width: 100% !important;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
        // & > a {
        //   width: 100% !important;
        // }
      }
    }
    & .dropdown-arrow {
      // margin: -1rem -1rem -1rem 0;
      // margin: 0 !important;
      // padding: 1rem 1rem 1rem 0.25rem;
      padding: 1rem 2rem;
      display: none;
    }
    & .dropdown-content {
      display: block !important;
      position: static !important;
      padding: 0 0 0 2rem !important;
      box-shadow: none !important;
    }
  }
  .menu-button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    // position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1000;
    &:hover {
      color: $uci-yellow;
    }
  }
  .sub {
    display: none !important;
  }
  .logo-wrapper {
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: .5rem 1.5rem !important;
    height: $mobile-navheight;
  }
  .logo {
    height: 3rem !important;
    width: 9rem !important;
  }
}

.house-icon {
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
}

.menu-button {
  display: none;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub {
  color: white;
  font-family: $ite-font;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.nav-items {
  transition: 0.2s ease-in-out;
  width: 100%;
  height: auto;
  & ul {
    box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: $header-font;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $header-col;
    &  a {
      display: flex;
      flex-direction: row;
      gap: 0.25rem;
      padding: 1rem;
      box-sizing: border-box;
      &:hover {
        background-color: $uci-blue;
        color: white
      }
    }
    // & > li {
    //   box-sizing: border-box;
    //   padding: 1rem;
    //   &:hover {
    //     background-color: $uci-blue;
    //     color: white;
    //   }
    //   & > a {
    //     box-sizing: border-box;
    //   }
    // }
  }
}

.has-children {
  position: relative;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  // right: 0;
  // top: 1.5rem;
  position: absolute;
  width: 100%;
  white-space: nowrap;
  // padding: 1rem;
  background-color: $header-col;
  // min-width: 10rem;
  // box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1;
  & > ul, li {
    width: 100%;
  }
  & a {
    // color: white;
    padding: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    &:hover {
      background-color: $uci-blue;
    }
  }
}


.dropdown-arrow {
  z-index: 14;
  transition: 0.2s ease-in-out;
  margin: -1rem -1rem -1rem 0;
  padding: 1rem 1rem 1rem 0.25rem;
  // background-color: yellow;
  &:hover {
    color: $uci-yellow;
  }
}



// uci ite logo
.logo-wrapper {
  background-color: $uci-blue;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  & > .join-button {
    position: absolute;
    color: black;
    font-family: $header-font;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    border: 3px solid $uci-yellow-dark;
    padding: 0.75rem 1.25rem;
    background-color: $uci-yellow;
    right: 1.25rem;
    &:hover {
      background-color: $uci-yellow-dark;
      // border-color: white;
      color: white;
    }
  }
}

.logo {
  height: 4rem;
  width: 12rem;
  position: relative;
  &:hover {
    background: none;
  }
}