// sponsors
@import "../app/globals.scss";

.sponsors {
  background-color: $uci-blue;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;

  & > hr {
    width: 65%;
    margin: 1.5rem;
    border: 1px solid $subheader-col;
  }
  & > p {
    text-align: center;
    margin-top: .5rem;
    font-style: italic;
    font-size: 14px;
    max-width: min(95vw, $main-max);
    & > a {
      color: $uci-yellow;
    }
  }
}

.sponsor-box {

  max-width: min(95vw, $main-max);
  padding: 1rem;
  width: 100%;
  text-align: left;
  & > h3 {
    font-family: $subheader-font;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  & > a {
    &:hover {
      transition: none !important;
    }
  }
  & img {
    &:hover {
      transform: scale(1.02);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.thanks-sponsors {
  background-color: $uci-blue-dark;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: .5rem;
  text-align: center;
  & span {
    margin: 0.5rem 0;
    font-size: 14px;
    & a {
      color: $uci-yellow !important;
    }
  }
  & h2 {
    font-family: $header-font;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
  }
}

.sponsor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  font-size: 1.25rem;
  gap: 1.5rem;
  & > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    // height: 100%;
    // width: 100%;
    // margin: 1rem;
  }
}
